:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;
  font-size              : 16px;
  font-family            : "Lato",
    "Nunito",
    "Avenir Next",
    "Helvetica Neue",
    sans-serif,
    "PingFang SC",
    "Microsoft YaHei",
    "Helvetica Neue",
    sans-serif;
  font-weight           : 300;
  line-height           : 1.25;
  --base_background     : #d2cdc1;
  --secondary_background: #0a1212;
  background-color      : var(--base_background);
  text-rendering        : optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow              : auto;
}

body {
  margin: 0px;
}

@media (max-width:700px) {
  :root {
    font-size: 14px;
  }
}

.sub-page {
  display : none;
  position: absolute;
  top     : 0px;
  left    : 0px;
  height  : 100vh;
  width   : 100%;
}

.display-transition {
  /* clip-path: none; */
  animation  : 1s ease show-page;
  will-change: clip-path;
}

@keyframes show-page {
  0% {
    clip-path        : circle(0%);
    -webkit-clip-path: circle(0%);
  }

  99% {
    clip-path        : circle(100%);
    -webkit-clip-path: circle(100%);
  }

  100% {
    clip-path        : none;
    -webkit-clip-path: none;
  }
}

.link {
  text-decoration: underline;
  cursor         : pointer;
  color          : firebrick;
  font-style     : italic;
}

.title-container {
  background-image   : url('./images/night-drone3.webp');
  background-position: center;
  background-size    : cover;
  width              : 100%;
  height             : 400px;
  color              : honeydew;
}

.title {
  font-size          : 2.7rem;
  text-align         : center;
  text-shadow        : 2px 2px #000000;
  padding-inline     : 5px;
  margin-block-end   : 0.2em;
  /* background-color: rgba(0, 0, 0, .3); */
  font-weight        : 300;
}

.subtitle {
  font-size          : 1.3rem;
  margin-block-start : 0.0em;
  margin-block-end   : 0.83em;
  margin-inline-start: 0px;
  margin-inline-end  : 0px;
  font-weight        : bold;
  text-align         : center;
  text-shadow        : 2px 2px #000000;
  /* background-color: rgba(0, 0, 0, .3); */
  font-weight        : 300;
}


.interactive-card:hover {
  transform       : translateZ(20px);
  background-color: rgb(217 183 157);
  box-shadow      : 10px 10px 10px 0 rgba(150, 150, 150, .5);
}

.mission {
  font-size       : .9rem;
  background-color: #422c0c;
  color           : beige;
  padding         : 5px;
  box-sizing      : border-box;
  text-shadow     : 1px 1px black;
  font-weight     : 300;
  width           : 100%;
  vertical-align  : middle;
  display         : flex;
  padding-inline  : 10px;
  justify-content : center;
}

.vert-flex {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  left          : 0px;
  top           : 0px;
  box-sizing    : border-box;
}

.vert-flex-main {
  width     : 100%;
  overflow-x: hidden;
}

.inner-vert-flex {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  box-sizing    : border-box;
  width         : 100%;
}

.horz-flex {
  display        : flex;
  flex-flow      : row;
  flex-wrap      : wrap;
  justify-content: center;
}

.vert-flex-vert-center {
  justify-content: center;
  width          : 100%;
}

.base-card {
  overflow: hidden;
}

.base-card.selected-menu-item {
  border-bottom: none;
  transition   : all .15s ease-in-out;
}

.explore-card {
  position        : relative;
  background      : #fff;
  box-shadow      : 3px 3px 10px 0 rgba(76, 76, 76, .5);
  border-radius   : 9px;
  transition      : all .15s ease-in-out;
  width           : 100%;
  background-color: #af917cb5;
  padding-top     : 10px;
  cursor          : pointer;
}

.explore-image {
  height        : 100%;
  object-fit    : cover;
  vertical-align: middle;
  box-sizing    : border-box;
}

.explore-title {
  text-align        : center;
  font-size         : 1.4rem;
  margin-block-start: 10px;
  margin-block-end  : 10px;
  margin-left       : 10px;
  margin-right      : 10px;
  box-sizing        : border-box;
  font-weight       : 300;
}

.explore-content {
  text-align   : center;
  font-size    : 1rem;
  margin-bottom: 30px;
  word-wrap    : break-word;
  margin-left  : 10px;
  margin-right : 10px;
  box-sizing   : border-box;
  font-weight  : 300;
}

.explore-gap {
  gap: 10px;
}

.explore-margin {
  margin-left  : 4%;
  margin-right : 4%;
  margin-top   : 40px;
  margin-bottom: 20px;
}

.team-gap {
  gap: 26px;
}

.team-width {
  width: 100%
}

.team-background {
  background-color: var(--secondary_background);
}

.team-margin {
  box-sizing   : border-box;
  padding-left : 10%;
  padding-right: 10%;
  width        : 100%;
}

.team-card {
  background   : rgb(201, 196, 196);
  border-radius: 7px;
  box-sizing   : border-box;
  width        : 100%;
  box-shadow   : 4px 4px 6px #ffffff82;
}

.team-card:hover {
  position  : relative;
  top       : -5px;
  transition: all 0.5s;
}

.team-image {
  height    : 200px;
  object-fit: cover;
  box-sizing: border-box;
  margin-top: 10px;
}

.team-name {
  text-align        : center;
  font-size         : 1rem;
  margin-block-start: 10px;
  margin-block-end  : 10px;
  margin-left       : 0px;
  margin-right      : 0px;
  width             : 72%;
  background-color  : rgba(255, 217, 0, 0.288);
  box-sizing        : border-box;
}

.team-bio {
  text-align   : left;
  font-size    : .9rem;
  margin-bottom: 0px;
  padding-left : 10px;
  padding-right: 10px;
  width        : 100%;
  box-sizing   : border-box;
  justify-self : flex-end;
  font-weight  : 300;
}

.team-bio-school {
  margin-top    : 0px;
  margin-bottom : 0px;
  padding-bottom: 5px;
  padding-left  : 10px;
  padding-right : 10px;
  text-align    : left;
  font-size     : .9rem;
  width         : 100%;
  box-sizing    : border-box;
  font-weight   : 300;
}

.heading1 {
  align-self      : flex-end;
  width           : 100%;
  text-align      : left;
  border-left     : solid 3px #422c0c;
  padding-left    : 10px;
  background-image: linear-gradient(89deg, #8a7e6f, var(--base_background) 60%);
  font-size       : 1.5rem;
  margin-bottom   : 0.2rem;
  margin-top      : 0rem;
  font-weight     : 300;
}

.info-card {
  padding-inline: 20%;
  font-weight   : 300;
  font-size     : 1.1rem;
}

.info-margin {
  margin-top: 40px;
}

.story-background {
  --base_background: #0a1212;
  background-color : var(--base_background);
}

.story-card-background {
  --base_background: white;
  background-color : var(--base_background);
}

.footer {
  height    : 50px;
  width     : 100%;
  background: rgb(207, 204, 204);
  z-index   : 100;
  color     : rgb(0, 0, 0);
  position  : sticky;
  top       : 100vh;
  border-top: solid darkgrey;
  font-size : 0.8rem;
}

.footer-flex {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  height         : inherit;
}

@media (max-width: 600px) {
  .explore-image {
    height: 175px;
  }

  .team-margin {
    box-sizing   : border-box;
    padding-left : 2%;
    padding-right: 2%;
    padding-block: 14%;
  }

  .team-card {
    margin-inline: 18px;
  }

  .info-card {
    padding-inline: 5%;
    font-weight   : 300;
    font-size     : 1.1rem;
  }

  /* .footer {

    justify-content: space-around;

    font-size: 0.8rem;

  } */

  .explore-gap {
    gap: 20px;
  }
}


.loading-spinner {
  position        : fixed;
  object-fit      : contain;
  width           : 100px;
  transform       : translateX(calc(50vw - 50px)) translateY(calc(50vh - 70px));
  transform-origin: center center;
  animation       : 0.8s linear infinite alternate spinner;
}

#main-menu {
  display: none;
}

@keyframes spinner {
  0% {
    transform: translateX(calc(50vw - 50px)) translateY(calc(50vh - 70px)) scale(1);

  }

  100% {
    transform: translateX(calc(50vw - 50px)) translateY(calc(50vh - 70px)) scale(1.1);
  }
}

@media (min-width:600px) and (max-width: 800px) {
  .explore-image {
    height: 200px;
  }

  .explore-card {
    width: calc((100% - (1* 30px))/ 2);
  }

  .team-card {
    width        : calc((100% - (0* 30px))/ 3);
    margin-inline: 10px;
  }

  .team-margin {
    box-sizing   : border-box;
    padding-left : 5%;
    padding-right: 5%;
    padding-block: 20px;
  }
}

@media (min-width:800px) and (max-width: 1199px) {
  .explore-card {
    width: calc((100% - (2 * 30px))/ 3);
  }

  .team-card {
    width: calc((100% - (1 * 30px))/ 2);
  }

  .team-margin {
    box-sizing   : border-box;
    padding-left : 15%;
    padding-right: 15%;
    padding-block: 30px;
  }
}

@media (min-width:1200px) {
  .explore-image {
    height: 200px;
  }

  .explore-card {
    width: calc((100% - (3 * 30px))/4);
  }

  .team-card {
    width: calc((100% - (2 * 30px))/ 3);
  }

  .team-margin {
    box-sizing    : border-box;
    padding-left  : 20%;
    padding-right : 20%;
    margin-top    : 40px;
    padding-bottom: 40px;
    padding-top   : 40px;
    width         : 100%;
  }
}

.three-d {
  transform-style   : preserve-3d;
  perspective       : 500px;
  perspective-origin: 50% 50%;
}