:root {
  --menu_transition_time: 0.5s;
}

.main-menu-bar-fixed-container {
  top             : 0px;
  width           : 100vw;
  background-image: linear-gradient(359deg, #adadadb5, #725f5f94);
  display         : flex;
  flex-direction  : row;
  justify-content : center;
}



.main-menu-flex-container {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  width          : 90vw;
  padding        : 10px;
  gap            : 10px;
  --expand_menu  : 0;
}

@media (max-width:700px) {
  .main-menu-bar-fixed-container {
    flex-direction: column;
    width         : 50vw;
    box-shadow    : 2px 2px 2px #0000009c;
  }

  .main-menu-flex-container {
    flex-direction: column;
    width         : 100%;
    align-items   : flex-start;
  }
}


/* @media (max-width:700px) {
  .main-menu-flex-container {
    flex-direction: column;
  }

  .main-menu-flex-continer:hover {
    --expand_menu: 1;
  }
} */

.menu-item {
  background     : #d8cdcd;
  border-radius  : 2px;
  box-shadow     : 2px 2px 2px grey;
  transition     : border-radius 0.5s;
  box-sizing     : border-box;
  height         : max-content;
  padding        : 5px;
  background-clip: padding-box;
  cursor         : pointer;
}

@media (min-width:700px) and (hover:hover) {
  .menu-item:hover {
    border-radius: 5px;
    box-shadow   : 2px 2px 2px grey inset;
  }
}

.hamburger-menu-fixed-container {
  width : auto;
  top   : 0px;
  height: auto;
}

.hamburger-menu-button {
  background-color: #7d6d6d00;
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  height          : 30px;
  width           : 30px;
  align-items     : center;
}

.hamburger-menu-horz-flex {
  display       : flex;
  flex-direction: row;
  position      : fixed;
  top           : 0px;
  width         : auto;
  left          : -51vw;
  transition    : left var(--menu_transition_time);
  will-change   : left;
  z-index       : 1000;
}

@media (min-width:701px) {
  .hamburger-menu-horz-flex {
    left: 0px;
  }
}

@media (max-width:701px) {
  .menu-visible {
    left      : 0px;
    transition: left var(--menu_transition_time);
  }
}

@media (min-width:701px) {
  .hamburger-menu-fixed-container {
    display: none;
  }
}

.hamburger-menu-line {
  border-bottom: solid 1px;
  width        : 30px;
  height       : 0px;
}

.hamburger-menu-button img {
  transform : rotate(0deg);
  transition: all var(--menu_transition_time);
}

.menu-arrow {
  background-color: #fff2e1;
  clip-path       : polygon(50% 50%, 0 0, 0 100%);
  width           : 15px;
  height          : 15px;
  position        : relative;
  top             : 7px;
  left            : -2px;
  transition      : all var(--menu_transition_time);
}

@media (max-width:701px) {
  .hamburger-menu-button .hamburger-img-rotate {
    transform : rotate(720deg);
    transition: all var(--menu_transition_time);
  }

  .hamburger-menu-horz-flex .shrink-menu-arrow {
    clip-path : polygon(0% 50%, 0 0, 0 100%);
    transition: all var(--menu_transition_time);
  }
}