.header {
  --header_height: 20px;
  width          : 100%;
  height         : var(--header_height);
  background     : rgb(88, 85, 85);
  position       : sticky;
  top            : 0px;
  z-index        : 100;
  color          : white;
}

.header-img {
  height: var(--header_height);
}

.footer {
  height    : 100px;
  width     : 100%;
  background: rgb(207, 204, 204);
  z-index   : 100;
  color     : rgb(0, 0, 0);
  position  : sticky;
  top       : 100vh;
}

.footer-flex {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  height         : inherit;
}

.copyright {
  margin-inline: 10px;
}

.email {
  margin-inline: 10px;
}

.title-vert-flex {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width         : 100%;
  height        : 100vh;
  position      : relative;
  min-width     : 400px;
}

.title-text {
  font-size       : 3.5rem;
  margin-top      : 25vh;
  margin-block-end: 0.2em;
  z-index         : 1;
  text-align      : center;
  color           : #904e00;
  max-width       : 90%;
  font-weight     : 600;
  border          : solid 2px red;
  transition      : border 2s;
}

.title-video {
  position  : absolute;
  top       : 0px;
  z-index   : 0;
  width     : 100%;
  height    : 100%;
  object-fit: none;
}

.title-background {
  background-image: linear-gradient(184deg, #838383, transparent);
  width           : 100%;
  height          : 100vh;
  position        : fixed;
  top             : 0px;
  z-index         : 0;
}

.sub-title {
  font-size         : 1.7rem;
  margin-block-start: 0em;
  z-index           : 1;
  text-align        : center;
  color             : white;
  max-width         : 90%;
}

.separator {
  width : 100%;
  height: 10vh;
}

.line-separator {
  width        : 30%;
  border-bottom: solid black 2px;
  align-self   : flex-start;
}

.intro-vert-flex {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width         : 100%;
  background    : rgb(255 255 255);
  padding-bottom: 75px;
  padding-top   : 100px;
  z-index       : 1;
}

.intro-container {
  width  : 50vw;
  z-index: 1;
}

@media (max-width:600px) {
  .intro-container {
    width  : 85%;
    z-index: 1;
  }
}

.intro-title {
  font-size: 3.0rem;
}

.intro-text {
  font-size: 1.5rem;
}


.slide-over-container {
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-size      : cover;
  height               : 100vh;
}

.first {
  grid-row: 1/auto;
}

.panel-container {
  grid-template-rows   : auto;
  grid-template-columns: auto;
  display              : grid;
}

/* Container for each slide in the show. Twice the view height so the background element(s) can stick
    while the caption floats over them*/
.slide-container {
  --caption_separation: calc(100vh);
  z-index             : 0;
  top                 : 0px;
  height              : calc(var(--caption_separation) * var(--slide_count) + var(--caption_separation) * 0.5);
  width               : 100%;
  position            : relative;
}

.slide-container-last {
  height: calc(var(--caption_separation) * var(--slide_count) + var(--caption_separation) + 200px);
}

.image-container {
  overflow     : hidden;
  width        : 100%;
  height       : 100vh;
  position     : -webkit-sticky;
  position     : absolute;
  top          : 0px;
  z-index      : 0;
  display      : flex;
  justify-items: center;
}

.image-sticky-container {
  position: sticky;
  top     : 0px;
  display : relative;
  height  : 100vh;
  width   : 100%;
}

.stacked-image {
  object-fit      : cover;
  object-position : 50% 50%;
  box-sizing      : content-box;
  width           : 100%;
  height          : 100%;
  position        : absolute;
  visibility      : hidden;
  opacity         : 0.0;
  background-color: black;
  transition      : visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background      : darkslategray;
}

@media (max-width:600px) {
  .image-shift-right {
    object-position: 35% 50%;
    object-fit     : cover;
  }

  .image-shift-left {
    object-position: 70% 50%;
    object-fit     : cover;
  }

  .image-no-shift {
    object-fit: cover;
  }
}

.contain-image {
  object-fit: contain;
}

.video {
  object-fit: contain;
  background: darkslategray;
}

.first-image {
  visibility: visible;
  opacity   : 1.0;
}

.caption>img {
  display: none;
}

.caption-container {
  display       : flex;
  flex-direction: row;
  width         : 100%;
  height        : calc(var(--caption_separation));
  position      : relative;
  top           : calc(-100vh + 12vh);
  align-items   : center;
}

.caption-container-justify-left {
  justify-content: flex-start;
}

.caption-container-justify-right {
  justify-content: flex-end;
}

.caption {
  background-color: rgb(0 0 0);
  font-size       : 20px;
  color           : white;
  min-width       : 290px;
  max-width       : 25%;
  height          : fit-content;
  z-index         : 1;
  position        : relative;
  text-align      : left;
  padding         : 20px;
  margin-left     : 5%;
  box-shadow      : 3px 3px 2px rgb(22 22 22 / 50%);
  border-radius   : 5px;
  opacity         : .80;
}

@media (min-width:600px) {
  .caption {
    margin-left: 10%;
  }
}

.caption-title {
  font-size   : 2.5rem;
  margin-block: 0.5em;
}

.caption-text {
  font-size   : 1.5rem;
  margin-block: 0.5em;
  font-weight : 600;
}

.caption-right {
  justify-self: flex-end;
}

.caption-left {
  justify-self: flex-start;
}

.caption-list {
  font-weight    : 300;
  list-style-type: disc;
}

.caption img {
  visibility: hidden;
}

#board2 {
  background-image: url("./images/187%20Washington%20Chicago%20Steet-small.jpg");
}

#board3 {
  background-image: url("./images/144%20W%2073rd%20NYC.png")
}