<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preload" as="image" href="./images/BeeHiveLogoSimple.svg">
  <!-- meta -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Content-Type">
  <meta lang="en">
  <meta charset="UTF-8">
  <meta content="text/html">
  <meta name="description"
    content="Our focus at BeeHive is on the physical infrastructure, technology, education and coordination that will enable urban communities to fully benefit from the future of urban air mobility (a future that is arriving very rapidly).">
  <link rel="canonical" href="https://beehivetech.co/" />
  <title>Beehive Technologies</title>
  <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#7d95df">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet" media="print"
    onload="this.onload=null;this.removeAttribute('media');">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap" rel="stylesheet"
    media="print" onload="this.onload=null;this.removeAttribute('media');">
  <link href="./css/index.css" rel="stylesheet">
</head>

<body> {{{body}}} </body>