<head>
  <link href="./css/main-menu.css" rel="stylesheet">
</head>

<body>
  <div class="main-menu-bar-fixed-container">
    <div class="main-menu-flex-container">
      <div class="menu-item">The "HIVE"</div>
      <div class="menu-item">Timeline</div>
      <div class="menu-item">Geo-Analytics</div>
      <div class="menu-item">Urban Drone Delivery</div>
      <div class="menu-item">About BeeHive</div>
    </div>
  </div>
  <div class="hamburger-menu-fixed-container">
    <div class="hamburger-menu-line"></div>
    <div class="hamburger-menu-line"></div>
    <div class="hamburger-menu-line"></div>
  </div>
</body>