<head>
  <!-- meta -->
  <link href="./css/conundrum.css" rel="stylesheet">
</head>

<body>
  <div class="three-d-container-urban">
    <div class="background-container-3d-urban">
    </div>
    <div class="main-vert-flex-urban">
      <div class="container-urban">
        <h1 class="title-urban">The Urban Drone Delivery Conundrum</h1>
        <h2 class="subtitle-urban">Cities need drones, drones need cities, but how to get drones into cities?</h2>
        <div class="section-urban">
          <p class="body-text-urban">Urban areas concentrate hundreds of thousands, sometimes millions, of people into
            small areas and these urban residents tend to be in the demographic cohorts that do most of their shopping
            online and are eager, almost proudly self-defined, early adopters of new trends, attitudes, and technology.
            These factors make urban communities extremely valuable for business and commerce, and the prime areas for
            early drone delivery adoption.</p>
        </div>
        <div class="section-urban horz-flex-urban alt-color-urban">
          <div class="img-container-urban"><img class="img-urban" src="./images/nyc-packages.webp"
              alt="NYC street scene with overflowing packages."></div>
          <p class="body-text-urban">While city dwellers love shopping online, urban living doesn't lend itself to
            efficient or convenient "last mile" package delivery -- from congested, stop-and-go streets and pollution,
            to theft, cluttered lobbies (or no lobbies at all) -- getting packages to customers can be a fraught and
            costly affair. So, avoiding all the problems on the ground by taking to the air seems like the perfect
            solution... Why, in fact, would you want to do a zig-zag-crawl through an urban minefield of congestion,
            pollution, and "porch-pirates" when you could simply fly a crow-line to the destination, secure the package,
            and fly a crow-line back?</p>
        </div>
        <div class="section-urban">
          <p class="body-text-urban">Cities need drones, drones can best serve cities, so there are enormous synergies
            to be tapped, but how to deliver a package via drone on a city street where there is no convenient landing
            area, or even a safe way to approach a landing area? Urban airspace is squeezed between tall buildings and
            is stuffed...with stuff -- powerlines, poles, signage, trees, etc. Worse, the primary drone navigation
            technology, GPS (or GNSS) becomes severely degraded or completely unavailable when there is not a direct
            line of sight to the needed constellation of satellites. So, once a drone drops down into the "urban
            canyon", it must use some other means for spatial orientation and navigation. If the navigation problem is
            solved, what about obstacle avoidance during the approach phase and then performing a pinpoint landing and a
            tiny landing area? Once approach and landing are figured out, how do you secure and transfer hundreds of
            packages a day to the people living in a few city blocks? As you can see, urban drone delivery will be a
            very challenging and multi-disciplinary undertaking. Beehive is positioned to be an integral part of the
            solution.</p>
        </div>
      </div>
    </div>
  </div>
</body>