<head>
  <link href="./css/story.css" rel="stylesheet">
  <!-- <link rel="preload" href="./css/story.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="./css/story.css">
  </noscript> -->
</head>

<body>
  <!-- TItle Page -->
  <div class="title-vert-flex">
    <video class="title-video" playsinline autoplay="true" muted loop="" disablepictureinpicture=""
      crossorigin="use-credentials" preload="auto">
      <source src="./video/Land%20Drone%20and%20Store%20Package.mp4" type="video/mp4">
    </video>
    <div class="title-background"></div>
    <h1 class="title-text">BeeHive Technologies </h1>
    <h2 class="sub-title">Helping realize the future of urban drone delivery. </h2>
  </div>
  <!-- Intro Slide -->
  <div class="separator"></div>
  <div class="intro-vert-flex">
    <div class="intro-container">
      <div class="line-separator"></div>
      <h2 class="intro-title">Meet "The Hive"</h2>
      <h2 class="intro-text">
        <p>BeeHive is developing a unique urban drone delivery receiving, storage and transfer system called "The Hive."
        </p>
        <p>The Hive is a "common carrier" system -- it provides equal services for all shippers and retailers, a common
          interface for consumers, and a single point of contact for municipalities and regulators.</p>
        <p>Keep scrolling for a look at where Hives can be located and how they work.</p>
      </h2>
    </div>
  </div>
  <!-- Locating Hives Slide Deck-->
  <div class="slide-container">
    <div class="image-sticky-container">
      <div class="image-container">
        <video class="first-image stacked-image video" autoplay="true" playsinline muted loop=""
          disablepictureinpicture="" crossorigin="use-credentials" preload="auto">
          <source src="./video/Sequence%20Hi-Res.mp4" type="video/mp4" class="jsx-1558512584">
        </video>
      </div>
      <div class="image-container">
        <img alt="Seattle Street View" class="stacked-image image-shift-left"
          src="./images/2617%20Second%20Ave%20Seattle.webp" alt="Vegas Hive Street Scene">
      </div>
      <div class="image-container">
        <img alt="Des Moins IA Street View" class="stacked-image image-shift-left"
          src="./images/308%20Court%20Ave%20Des%20Moines%20Hive.webp">
      </div>
      <div class="image-container">
        <img alt="Vegas Street View" class="stacked-image image-shift-right" src="./images/Vegas.webp">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left ">
      <div class="caption">
        <h3 class="caption-title">Pretty Much Anywhere <h3>
            <p class="caption-text">Where can you put a Hive? </p> <img hidden src="./video/Sequence%20Hi-Res.mp4">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left ">
      <div class="caption">
        <p class="caption-text">Available space in urban neighborhoods is limited. Hives are an attractive and accretive
          way for cities to use narrow strips of unused urban land.</p> <img hidden src="./video/Sequence%20Hi-Res.mp4">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left ">
      <div class="caption">
        <p class="caption-text">At approximately 1.5 feet deep, The Hive has a narrow, unobtrusive profile that can fit
          just about anywhere.</p> <img alt="Video" hidden src="./video/Sequence%20Hi-Res.mp4">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left ">
      <div class="caption caption-text">Hives easily fit on narrow urban right-of-ways and can be customized to blend
        into any neighborhood. Like here in Seattle...<img alt="hidden" hidden
          src="./images/2617%20Second%20Ave%20Seattle.webp">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left">
      <div class="caption caption-text">A historic block in Des Moines, Iowa... <img hidden
          src="./images/308%20Court%20Ave%20Des%20Moines%20Hive.webp">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left">
      <div class="caption caption-text">On the Las Vegas Strip...<img hidden src="./images/Vegas.webp">
      </div>
    </div>
  </div>
  <!-- Functionality Slide Deck -->
  <div class="slide-container">
    <div class="image-sticky-container">
      <div class="image-container">
        <img alt="Chicago Steet View" class="first-image stacked-image image-no-shift"
          src="./images/187 Washington Chicago Steet.webp">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left">
      <div class="caption">
        <h3 class="caption-title">Functionality<h3>
            <ol class="caption-list">
              <li>A unique approach guidance system allows drones to land safely in dense urban neighborhoods.</li>
              <li>Packages are stored securely until retrieved.</li>
              <li>Modular and configurable to adapt to your community.</li>
            </ol>
            <p class="caption-text">Please contact us to discuss the details of The Hive's functionality and
              specifications. </p> <img hidden alt="hidden" src="./images/187 Washington Chicago Steet.webp">
      </div>
    </div>
  </div>
  <!-- Population Geo Slide Deck -->
  <div class="slide-container slide-container-last">
    <div class="image-sticky-container">
      <div class="image-container">
        <img alt="Population Analysis" class="stacked-image contain-image" src="./images/Vert Map 5.webp">
      </div>
      <div class="image-container">
        <video class="stacked-image video" autoplay="true" muted playsinline loop="" disablepictureinpicture=""
          crossorigin="use-credentials" preload="auto">
          <source src="./video/hive 1 seattle.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="caption-container caption-container-justify-left ">
      <div class="caption">
        <h3 class="caption-title">Population Geo-Analytics<h3>
            <p class="caption-text">Sophisticated population geo-analytics help locate Hives where they are most needed.
            </p><img hidden src="./images/Vert Map 5.webp">
      </div>
    </div>
    <div class="caption-container caption-container-justify-left">
      <div class="caption">
        <p class="caption-text">Please contact us for a detailed review of our geo-analytics process. </p><img
          alt="hidden" hidden src="./video/hive 1 seattle.mp4">
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-flex">
      <div class="copyright">Copyright 2022 BeeHive Technologies</div>
      <div class="email">Contact: jack@beehivetech.co</div>
    </div>
  </div>
  <script>

    function partialInViewport(element) {
      const rect = element.getBoundingClientRect();
      return ((rect.top > 0 && rect.top <= (window.innerHeight ||
        document.documentElement.clientHeight)) || (rect.bottom > 0 && rect.bottom <= (window.innerHeight ||
          document.documentElement.clientHeight)));

    }

    function entirelyInViewport(element) {
      const rect = element.getBoundingClientRect();

      let inViewPort = ((rect.top > 0 && rect.top <= (window.innerHeight ||
        document.documentElement.clientHeight)) || (rect.bottom > 0 && rect.bottom <= (window.innerHeight ||
          document.documentElement.clientHeight)));

      let straddleViewPort = rect.top <= 0 && (rect.bottom >= (window.innerHeight ||
        document.documentElement.clientHeight));

      return inViewPort || straddleViewPort;
    }

    //Need to map caption to images based on image tag. So multiple captions will map to the same
    // image based on the img tag of the caption.
    // Loop through the captions and figure out which picture in the set should be made visible
    const _sections = document.querySelectorAll(".slide-container");
    //Loop through all the slides. Set the "--slide_count" based on number of captions counted.
    //Map the caption pics to the slide image slots.
    //
    (function mapImagesToCaptions() {
      for (section of _sections) {
        section.imageMap = new Map();

        let slideImages = Array.from(section.querySelectorAll(".stacked-image"));
        let slideCaptions = Array.from(section.querySelectorAll(".caption"));

        section.style.setProperty("--slide_count", String(slideCaptions.length));

        //Map captions to images.
        for (let i = 0; i < slideCaptions.length; i++) {
          // Get the image for this caption and find the corresponding image container.
          let caption_image_src = slideCaptions[i].querySelector("img").src;
          let image_src;
          let image;
          for (image of slideImages) {
            if (!(image_src = image.src)) {
              image_src = image.querySelector("source")?.src;
            }
            if (image_src === caption_image_src)
              break;
          }
          section.imageMap.set(slideCaptions[i], image);
        }
      }
    })();

    function activeSection() {
      let currSection = null;
      for (let section of _sections) {
        if (entirelyInViewport(section)) {
          currSection = section;
        }
      }
      return currSection;
    }

    function activeCaption(captions) {
      if (captions) {
        for (let caption of captions) {
          if (partialInViewport(caption)) {
            return caption;
          }
        }
      }
      return false;
    }

    let imgTransitionFunc = (currentImg, slideImg, captionImg) => {
      // If the pic changed, fade out the old pic
      if (currentImg) {
        currentImg.style.opacity = "0.0";
        currentImg.style.visibility = "hidden";
      }
      // and then next cycle, fade in the new one.
      // slideImg.src = captionImg.src;
      slideImg.style.visibility = "visible";
      slideImg.style.opacity = "1.0";

    }

    let swapImages = ((transFunc) => {
      let currentImg = null;
      let currentSection = null;
      return () => {

        // If dealing with the same section, and image changed, then
        // perform image transition.
        //
        // Find the caption that is currently visible.
        // Get the DOM image/video that corresponds to this caption
        // IF this image/video isn't the current one
        // do the transition.
        let caption;
        currentSection = activeSection();
        if (caption = activeCaption(currentSection?.querySelectorAll(".caption"))) {
          let slideImg = activeSection().imageMap.get(caption);
          if (slideImg != currentSection.currentImg) {
            let captionImg = caption.querySelector("img");
            if (!captionImg)
              captionImg = caption.querySelector("video");
            transFunc(currentSection.currentImg, slideImg, captionImg)
            currentSection.currentImg = slideImg;
          }
        }
      }
    })(imgTransitionFunc);

    //If caption is visible, pull out its image and set the slide's image src to the src.
    setInterval(swapImages, 250);
  </script>
</body>