<head>
  <link href="./css/timeline-simple.css" rel="stylesheet">
</head>

<body>
  <div class="background">
  </div>
  <div class="main-grid">
    <div class="calendar-title-container">
      <div id="calendar-title" class="calendar-title">No Commercial Flights </div>
    </div>
    <div class="flex-body-container">
      <!-- First slide -->
      <div class="panel-container-main-simple first-container">
        <div class="panel-year ">
          <div class="year year-start-y">2015<h2 hidden>NO COMMERCIAL FLIGHTS</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/uncle%20sam.webp" class="panel-image" alt="">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">With few exceptions, commercial use of drones is illegal. <p
                class="panel-text-content">In 2013, Amazon's Jeff Bezos famously predicts that drones will be making
                regular deliveries by 2018.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-none.webp" class="panel-image-waivers" alt="">
          </div>
        </div>
      </div>
      <!-- Second slide -->
      <div class="panel-container-main-simple">
        <div class="panel-year">
          <div class="year year-start-y">2016<h2 hidden>PART 107</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/drone-compensation.webp" class="panel-image" alt="">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">The FAA introduces the first rule allowing the legal use of drones for
              commercial purposes. <p class="panel-text-content">Title 14 of The Code of Federal Regulations (CFR), Part
                107 allows any person who receives their remote pilot certificate to fly a drone for compensation, but
                there are some major limitations -- most notably, drones cannot be operated beyond visual line of sight,
                over people, or at night. </p>
              <p class="panel-text-content">Also, since there is no drone specific type-certification. Part 107 pilots
                are solely responsible for ensuring the drone's operational safety.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-none.webp" class="panel-image-waivers" alt="">
          </div>
        </div>
      </div>
      <!-- Third Slide -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2017<h2 hidden>LAANC IPP UTM</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/LAANC-small.gif" class="panel-image" alt="">
          </div>
          <div class="panel-text-container">
            <p class="panel-text-content"><strong><u>LAANC (Low Altitude Authorization and Notification Capability)
                  introduced.</u></strong> LAANC allows drone operators to request flight authorization from ATC
              controllers using a simple app. </p>
            <p class="panel-text-content"><strong><u>The DOT and FAA begin UAS IPP (Integration Pilot
                  Program)</u></strong> to accelerate development of drone technology and regulations. </p>
            <p class="panel-text-content"><strong><u>NASA and FAA begin UAS Traffic Management (UTM) Research Transition
                  Plan</u></strong> to test various technical UTM capability levels.</p>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-none.webp" class="panel-image-waivers" alt="">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">
            <h2 hidden>PART 135</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/ups-135.webp" class="panel-image" alt="Part 135 UPS">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">Drone Operators Certified to fly under "Part 135". <p
                class="panel-text-content"> An existing FAA rule, "Part 135", written to regulate the operation of "on
                demand" air carrier services, such as charter flights and cargo transportation, is granted to the first
                drone "airline" operators. This is the first time drones are allowed to transport cargo without a waiver
                and exempted from state or local laws.</p>
              <p class="panel-text-content">In general, this certification has been touted by drone operators as
                allowing them to operate "unlimited" drone air transport operations, but, as with part 107, waivers are
                still needed for BVLOS, flights over people and at night, and are generally limited to pre-authorized
                rural or suburban areas. And, as with part 107, only a single drone is allowed per pilot.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-1-1.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple ">
        <div class="panel-year ">
          <div class="year year-start-y">2019<h2 hidden>BEEHIVE FOUNDED</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
          <div class="panel-text-container ">
            <p class="panel-text-content beehive-info">Founding members of BeeHive meet for the first time to discuss
              economic, environmental, and safety issues related to "last mile" logistics. </p>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
        </div>
      </div>
      <!-- End Panel -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">
            <h2 hidden>SPECIAL CERT</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/Type_Certification_for_UAS-Back_to_the_Future.webp" class="panel-image"
              alt="Special Case Certificate">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">FAA begins to use existing "Special Class" Aircraft Type Certification to type
              certify drones. (14 CFR 21.17(b))<p class="panel-text-content"> All aircraft need to be certified as
                airworthy for their intended use. Drones are unique in that they are very small, unmanned, autonomous,
                and operate at low altitude. Therefore, they do not fall under any existing type certification rules.
              </p>
              <p class="panel-text-content">As a stopgap, the FAA has decided to use the existing "Special" Type
                Certification to certify drones on a case-by-case, risk basis. Ten companies are currently in the
                process of applying for this certification.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-1-1.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <!-- End Panel -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">
            <h2 hidden>NASA and FAA TECH</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/NASA_UTM.webp" class="panel-image" alt="NASA UTM">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">NASA and FAA TECHNOLOGY<p class="panel-text-content">NASA granted patent for
                UTM design and wins Government Invention of the Year. </p>
              <p class="panel-text-content">FAA Publishes Concept of Operations V2 for Unmanned Aircraft System Traffic
                Management.</p>
              <p class="panel-text-content">FAA replaces IPP program wtih BEYOND program to address remaining challenges
                with BVLOS (Beyond Visual Line Of Sight) operations. </p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-1-1.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple ">
        <div class="panel-year ">
          <div class="year year-start-y">2020<h2 hidden>BEEHIVE</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
          <div class="panel-text-container beehive-info">
            <p>BeeHive focus narrows on an urban "common carrier" drone delivery infrastructure "last mile" solutions.
            <p>A "common carrier" system solves many of the most pressing "last mile" issues, including cost,
              environmental concerns, and package safety. An urban solution is seen as the most needed and most
              challenging. </p>
            <p>A crucial part of the solution, "The Hive", goes from conceptual idea to design phase.</p>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
        </div>
      </div>
      <!-- Panel End -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2021<h2 hidden>REMOTE ID</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/Remote_ID.gif" class="panel-image" alt="REMOVE ID">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">Remote ID rules published.<p class="panel-text-content">All drones,
                recreational and commercial, will soon be required to broadcast an electronic "license plate", including
                data such as departure point and current location. This step is considered essential to introducing
                scaled drone operations into the National Airspace System (NAS) as part of adopting a national UTM
                system.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-2.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <!-- Panel End -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2021<h2 hidden>SPECIAL TYPE GRANTED</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/drone-stork.gif" class="panel-image" alt="Drone Delivery Comic">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">First companies receive "Special" Type Certification.<p
                class="panel-text-content"> This airworthiness certification opens pathway to fully autonomous BVLOS
                flights.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-4.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2022<h2 hidden>BeeHive Prototyping</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
          <div class="panel-text-container beehive-info">
            <p>Design of "The Hive" is further refined with modularity, storage, and landing systems all having pending
              patents. </p>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/beehive-logo.webp" class="panel-image-beehive" alt="beehive logo">
          </div>
        </div>
      </div>
      <!-- Panel End -->
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">
            <h2 hidden>Standard Drone Type Cert</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/drone-checklist.webp" class="panel-image-waivers"
              alt="Drone Certificate Checklist">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">Standard Drone Type Certification Defined <p class="panel-text-content"> The
                FAA finalizes the standards for performance based type certifying of autonomous drones and integrating
                them into the National Airspace System (NAS). Drone delivery operations begin to scale up with limited
                urban drone delivery operations beginning in several pilot cities.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-4.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2023 <h2 hidden>UTM DEPLOYED</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/NASA_UTM.webp" class="panel-image" alt="Waivers">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">The first integrated UTM systems are deployed in several pilot cities <p
                class="panel-text-content"> This allows compliant drones to fly autonomously within the NAS with one
                person monitoring several drones.</p>
              <p class="panel-text-content"> Drone delivery operations continue to scale up. New battery technology
                increases drone range to 30+ miles.</p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-4.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
      <div class="panel-container-main-simple">
        <div class="panel-year ">
          <div class="year year-start-y">2024<h2 hidden>STANDARD TYPE GRANTED</h2>
          </div>
        </div>
        <div class="panel-main-simple below-viewport">
          <div class="panel-left-image-container">
            <img title="" src="./images/finish line.webp" class="panel-image" alt="Waivers">
          </div>
          <div class="panel-text-container">
            <h3 class="panel-text-title">Standard Drone Type Certification Granted <p class="panel-text-content"> No
                operational limitations: BVLOS, Over People, Nighttime, Many drones per operator.</p>
              <p class="panel-text-content">Many companies are producing drones that have been certified to perform
                urban drone delivery operations. UTM systems standardized and operational across the industry and have
                been installed in several medium and large cities. </p>
              <p class="panel-text-content">Retailers and shippers quickly transition from ground to aerial delivery.
              </p>
            </h3>
          </div>
          <div class="panel-right-image-container">
            <img title="" src="./images/Waivers-5.webp" class="panel-image-waivers" alt="Waivers">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-flex">
      <div class="copyright">Copyright 2022 BeeHive Technologies</div>
      <div class="email">Contact: jack@beehivetech.co</div>
    </div>
  </div>
  <script>

    let date_line = document.getElementById("date-line");

    let panels = document.querySelectorAll(".panel-main-simple");

    let panel_containers = document.querySelectorAll(".panel-container-main-simple");

    let years = document.querySelectorAll(".year");

    (function setInitialViewPortPosition(panels) {
      for (let panel of panels) {
        setBelowViewport(panel, .5)
        if (!panel.isBelowViewportLowerEdge) {
          panel.classList.replace("below-viewport", "in-viewport")
        }
      }
      for (let year of years) {
        setBelowViewport(year, .5);
        if (!year.isBelowViewportLowerEdge) {
          year.classList.replace("year-start-y", "year-end-y")
        }
      }
    })(panels);

    function entirelyInViewportTimeline(element) {
      const rect = element.getBoundingClientRect();

      let inViewPort = ((rect.top > 0 && rect.top <= (window.innerHeight ||
        document.documentElement.clientHeight)) && (rect.bottom > 0 && rect.bottom <= (window.innerHeight ||
          document.documentElement.clientHeight)));

      let straddleViewPort = rect.top <= 0 && (rect.bottom >= (window.innerHeight ||
        document.documentElement.clientHeight));

      return inViewPort || straddleViewPort;
    }


    function setBelowViewport(panel, percent) {
      const rect = panel.getBoundingClientRect();
      panel.isBelowViewportLowerEdge = rect.top > 0 && (rect.top + rect.height * percent) >= (window.innerHeight ||
        document.documentElement.clientHeight)
    }

    // percent is what percentage of the panel must be on he screen before transition occurs.
    function checkPositionForTransition(panel, percent, below_vp_class, in_vp_class) {
      if (panel.isBelowViewportLowerEdge) {
        setBelowViewport(panel, percent);
        if (!panel.isBelowViewportLowerEdge) {
          panel.classList.replace(below_vp_class, in_vp_class)
          return panel;
        }
      }
      else {
        setBelowViewport(panel, 0.0);
        if (panel.isBelowViewportLowerEdge) {
          panel.classList.replace(in_vp_class, below_vp_class);
        }
        else {
          return panel;
        }
      }
    }

    function doScrollTransitionMainPanel() {
      for (let panel of panels) {
        checkPositionForTransition(panel, .50, "below-viewport", "in-viewport");
      }
    }

    function doScrollTransitionYears() {
      let latest_year;
      for (let year of years) {
        if (checkPositionForTransition(year, .1, "year-start-y", "year-end-y")) {
          latest_year = year;
        }
      }
      return latest_year;
    }

    title = document.getElementById("calendar-title");
    let prev_frame = null;

    function setCurrentFrameTitle(init) {
      for (let panel of panel_containers) {
        let frame = panel.querySelector('.panel-main-simple')
        if (entirelyInViewportTimeline(frame) || init) {
          if (prev_frame != frame) {
            let currentTitle = panel.querySelector('.year h2');
            title.style.fontSize = Math.max(24, Math.min(30, Math.trunc(window.innerHeight / (currentTitle.innerText.length * 2)))) + "px";
            title.innerText = currentTitle.innerText;
            title.classList.toggle("calendar-title-switch");
            prev_frame = frame;
          }
          break;
        }
      }
    };

    setCurrentFrameTitle(true);

    document.addEventListener("scroll", () => {
      doScrollTransitionMainPanel();
      setCurrentFrameTitle();
    });

  </script>
</body>